<nav class="footer-navigation">
  <div class="row-fluid">
    <div class="span12">
      <ul class="unstyled">
        <li class="navigation-element"><a href="{{ site.url }}" class="self">Self</a></li>
        <li class="navigation-element"><a href="{{ site.url }}/sounds" class="self">Sounds</a></li>
        <li class="navigation-element"><a href="{{ site.url }}/words" class="self">Words</a></li>
        <li class="navigation-element"><a href="{{ site.url }}/projects" class="self">Projects</a></li>
      </ul>
    </div>
  </div>
</nav>
