<header id="header">
  <div class="d-flex justify-content-between" id="navigation">
    <nav class="nav">
      <a href="{{ site.baseurl }}/" class="nav-link">About</a>
      <a href="{{ site.baseurl }}/words" class="nav-link">Words</a>
      <a href="{{ site.baseurl }}/projects" class="nav-link">Projects</a>
    </nav>

    <nav class="nav">
      <a href="https://github.com/phildionne" class="nav-link">GitHub</a>
      <a href="https://twitter.com/phildionne" class="nav-link">Twitter</a>
    </nav>
  </div>
</header>
