<div class="project-list m-b-lg">

  <article class="project has-year">
    <div class="row">
      <div class="col-xs-2">
        <h3 class="project-year">2016</h3>
      </div>

      <div class="col-xs-10">
        <h3 class="project-title">
          <a href="https://dialoganalytics.com">Dialog Analytics</a>
        </h3>
        <p class="project-description">An analytics platform for conversational applications.</p>
      </div>
    </div>
  </article>

  <article class="project has-year">
    <div class="row">
      <div class="col-xs-2">
        <h3 class="project-year">2015</h3>
      </div>

      <div class="col-xs-10">
        <h3 class="project-title">
          <a href="https://github.com/can-explore/geojson_model">GeojsonModel</a>
        </h3>
        <p class="project-description">A Ruby gem providing simple objects to manipulate geojson data.</p>
      </div>
    </div>
  </article>

  <article class="project">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <h3 class="project-title">
          <a href="https://github.com/can-explore/geojsonlint">Geojsonlint</a>
        </h3>
        <p class="project-description">A geojson validator written in Ruby.</p>
      </div>
    </div>
  </article>

  <article class="project has-year">
    <div class="row">
      <div class="col-xs-2">
        <h3 class="project-year">2014</h3>
      </div>

      <div class="col-xs-10">
        <h3 class="project-title">
          <a href="https://github.com/phildionne/twins">Twins</a>
        </h3>
        <p class="project-description">A Ruby gem sorting through the small differences between multiple objects and smartly consolidate all of them together.</p>
      </div>
    </div>
  </article>

  <article class="project has-year">
    <div class="row">
      <div class="col-xs-2">
        <h3 class="project-year">2013</h3>
      </div>

      <div class="col-xs-10">
        <h3 class="project-title">
          <a href="{{ site.baseurl }}/sounds">Sounds</a>
        </h3>
        <p class="project-description">A curated selection of songs, delivered monthly for more than 3 years.</p>
      </div>
    </div>
  </article>

  <article class="project">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <h3 class="project-title">
          <a href="{{ site.baseurl }}/projects/spices">Spices</a>
        </h3>
        <p class="project-description">A collection of spice blends I've developped for fun and tasty recipes.</p>
      </div>
    </div>
  </article>

  <article class="project">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <h3 class="project-title">
          <a href="http://corporateawesomeness.com/">Corporate Awesomeness</a>
        </h3>
        <p class="project-description">Most businesses suck. This blog gives a shout-out to those who don't.</p>
      </div>
    </div>
  </article>

  <article class="project">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <h3 class="project-title">
          <a href="https://github.com/phildionne/associates">Associates</a>
        </h3>
        <p class="project-description">A Ruby gem to associate multiple models together and make them behave as one.</p>
      </div>
    </div>
  </article>

  <article class="project">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <h3 class="project-title">
          <a href="https://github.com/hooktstudios/historyable">Historyable</a>
        </h3>
        <p class="project-description">A Ruby gem allowing to track ActiveRecord models attributes changes.</p>
      </div>
    </div>
  </article>

  <article class="project">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <h3 class="project-title">
          <a href="https://github.com/phildionne/codicons">Codicons</a>
        </h3>
        <p class="project-description">An icon set of programming languages.</p>
      </div>
    </div>
  </article>

  <article class="project">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <h3 class="project-title">
          <a href="/projects/svalbard">Svalbard</a>
        </h3>
        <p class="project-description">A minimalist html+css theme inspired by the northern lights.</p>
      </div>
    </div>
  </article>
</div>
