@mixin post-body($post-font-size-base, $post-line-height-base) {
  $post-line-height-computed: floor(($post-font-size-base * $post-line-height-base));

  font-size: $post-font-size-base;
  line-height: $post-line-height-base;
  font-weight: 300;

  hr {
    margin-top: $post-line-height-computed * 3;
    margin-bottom: $post-line-height-computed * 3;
  }

  // Hack
  > hr {
    margin-left: 40% !important;
    margin-right: 40% !important;
  }

  blockquote {
    padding: ($post-line-height-computed / 2) ($post-line-height-computed / 2);
    margin: ($post-line-height-computed * 2) 0;
    font-size: $blockquote-font-size;
    font-weight: 100;
    border-left: 4px solid $blockquote-border-color;

    p {
      margin-bottom: $post-line-height-computed / 2;
    }

    p,
    ul,
    ol {
      &:last-child {
        margin-bottom: 0;
      }
    }

    footer,
    small,
    .small {
      display: block;
      font-size: 80%; // back to default font-size
      font-weight: 300;
      font-style: italic;
      line-height: $line-height-base;
      color: $blockquote-small-color;

      &:before {
        content: '\2014 \00A0'; // em dash, nbsp
      }
    }
  }

  figure {
    margin-bottom: $post-line-height-computed;

    figcaption {
      padding: ($line-height-computed / 2) $line-height-computed;
      font-size: $font-size-base;
      line-height: $line-height-base;
      background-color: hsl(215, 50%, 70%);
    }

    p { margin: 0; }

    img {
      @include img-responsive;
    }
  }
}
