/*!
 * phildionne.com
 *
 * Copyright 2013 Philippe Dionne
 * Designed and built in Quebec City, Canada.
 *
 */

// Bootstrap & App variables
// -------------------------
@import "bootstrap/variables.less";
@import "style-variables.less";
@import "style-mixins.less";
@import "bootstrap/mixins.less";


// General
// --------------------------------------------------

a:hover {
  text-decoration: none;
}

a.self {
  color: @altLinkColor;
  &:hover { color: @altLinkColorHover; }
}

.centered { text-align: center; }

hr {
  border-top: 1px solid fadeout(@grayLight, 50%);
  border-bottom: 0;
}

hr.middot {
  width: @baseLineHeight/2;
  height: @baseLineHeight/2;
  margin: @fluidGridColumnWidth auto;
  background-color: @grayLight;
  border-top: 0;
  border-bottom: 0;
  .border-radius(@baseLineHeight/4);
  .transition(margin 0.2s);
  @media (max-width: 767px) { margin: @fluidGridColumnWidth*2 auto; }
}

hr.light {
  width: @fluidGridColumnWidth;
  height: 1px;
  margin: @fluidGridColumnWidth auto;
  background-color: fadeout(@grayLight, 50%);
  border-top: 0;
  border-bottom: 0;
}

// Type
// --------------------------------------------------

#type {
  .jumbo() { #font > .sans-serif(@size: @baseFontSize*6, @weight: bold, @lineHeight: 1.115); .squeezed }
  .tron() { #font > .sans-serif(@size: @baseFontSize*4, @weight: bold, @lineHeight: 1.115); .squeezed }
  .huge() { #font > .sans-serif(@size: @baseFontSize*3, @weight: bold, @lineHeight: 1.115); .squeezed }
  .big() { #font > .sans-serif(@size: @baseFontSize*2, @weight: bold, @lineHeight: 1.115); .squeezed }
  .normal() { #font > .sans-serif(@size: @baseFontSize*1.5, @weight: bold, @lineHeight: 1.115); .squeezed }
  .squeezed() { margin: 0; letter-spacing: -1px; }
}


// Scaffolding
// --------------------------------------------------

#frontpage {}
#sounds {
  background-color: #111111;
  padding-bottom: @fluidGridColumnWidth;
}
#words {
  background-color: ;
  padding-bottom: @fluidGridColumnWidth;
}

#two-thousand-twelve, #two-thousand-thirteen { padding-top: @fluidGridColumnWidth/2; }


// Navigation
// --------------------------------------------------

.slashed-navigation () {
  text-align: center;
  #type > .big;
  .transition(font-size 0.2s);
  @media (max-width: 480px) { #type > .normal; }
  .navigation-element {
    display: inline-block;
    margin-left: @baseLineHeight/2;
    &:after {
      content: "/";
      display: inline-block;
      margin-left: @baseLineHeight;
    }
    &:last-child {
      &:after { content: ""; }
    }
  }
}

.footer-navigation {
  .slashed-navigation();
}

.sounds-navigation {
  .slashed-navigation();
  padding-bottom: @fluidGridColumnWidth*3;
  a {
    #font > .serif(@size: @baseFontSize*2, @weight: normal, @lineHeight: 1.115); // #type > .big
    font-style: italic;
    // color: @grayDark;
  }
}



// Frontpage
// --------------------------------------------------

#frontpage {
  #presentation {
    padding-top: @fluidGridColumnWidth*2;
    padding-bottom: @fluidGridColumnWidth;
    .lead-text {
      #type > .tron;
      @media (min-width: 768px) and (max-width: 979px) { #type > .huge; }
      @media (max-width: 767px) { #type > .big; }
    }
    .links {
      #type > .huge;
      @media (min-width: 768px) and (max-width: 979px) { #type > .big; }
      @media (max-width: 767px) { #type > .normal; }
    }
  }
}


// Sounds & Words
// --------------------------------------------------

.masthead {
  padding-top: @fluidGridColumnWidth;
  padding-bottom: @fluidGridColumnWidth*2;
  @media (max-width: 767px) { padding-top: @fluidGridColumnWidth*2; padding-bottom: @fluidGridColumnWidth*4; .transition(padding 0.2s); }
  .masthead-title {
    #type > .jumbo;
    @media (max-width: 767px) { #type > .tron; }
    .masthead-icon {
      margin-left: @baseLineHeight;
      font-size: @baseFontSize*4;
      @media (max-width: 767px) { margin-left: @baseLineHeight/2; font-size: @baseFontSize*3; .transition(font-size 0.2s); }
    }
  }
}


// Sounds
// --------------------------------------------------

.mix {
  color: @gray;
  @media (max-width: 767px) { text-align: center; }
  .mix-list {}
  .mix-title {
    #type > .huge;
    margin-bottom: @baseLineHeight*2;
    @media (max-width: 767px) { margin-top: @baseLineHeight; }
  }
  .mix-media {
    a {
      &:hover {
        img { opacity: 0.4; .transition(opacity 0.2s); }
      }
    }
  }
  .mix-element-list {
    #font > .serif(@size: 18px, @weight: normal, @lineHeight: 1.5);
    .mix-element {
      margin: @baseLineHeight/2 0;
      @media (max-width: 767px) { list-style-type: none; }
    }
  }
}


// Words
// --------------------------------------------------

.post {
  .post-title {
    padding-top: @fluidGridColumnWidth*4;
    text-align: center;
    #type > .tron;
    @media (max-width: 767px) { #type > .huge; }
  }
  .post-date {}
  .post-body {
    .box-sizing(border-box);
    padding-bottom: @fluidGridGutterWidth*4;
    #font > .serif(@size: 20px, @weight: normal, @lineHeight: 1.5);
    color: @grayDarker;
    @media (min-width: 1600px) { padding-left: @fluidGridGutterWidth*6; padding-right: @fluidGridGutterWidth*6; }
    @media (min-width: 1200px) { padding-left: @fluidGridGutterWidth*2; padding-right: @fluidGridGutterWidth*2; }
    @media (max-width: 767px) {
      padding-left: @fluidGridGutterWidth*4;
      padding-right: @fluidGridGutterWidth*4;
      #font > .serif(@size: 19px, @weight: normal, @lineHeight: 1.7);
    }
    img {
      min-width: 100%;
      margin: @gridGutterWidth auto;
    }
    p {
      margin: @baseLineHeight 0;
      &:first-child { #font > .serif(@size: 24px, @weight: normal, @lineHeight: 1.5); }
    }
    li {
      line-height: 1.4;
    }
  }
  .post-footer {
    padding-top: @fluidGridGutterWidth;
    border-top: 1px solid fadeout(@grayLight, 50%);
    color: @grayLight;
  }
}

.post-list {
  .post {
    border-top: 1px solid fadeout(@grayLight, 50%);
    .transition(margin 0.2s);
    .post-title {
      margin-left: @baseLineHeight !important;
      padding-top: @fluidGridGutterWidth;
      padding-bottom: @fluidGridGutterWidth;
      text-align: left;
      #type > .big;
    }
  }
  .category-morocco {
    .post {
      .post-title {
        a { color: #08c; }
      }
    }
  }
}


// Projects
// --------------------------------------------------

.project-list {
  .project {
    border-top: 1px solid fadeout(@grayLight, 50%);
    text-align: center;
    padding-bottom: @fluidGridGutterWidth / 2;
    .transition(margin 0.2s);
    .project-title {
      margin-left: @baseLineHeight !important;
      padding-top: @fluidGridGutterWidth;
      padding-bottom: @fluidGridGutterWidth / 2;
      #type > .big;
    }
  }
}



// Error
// --------------------------------------------------

#error {
  #message {
    padding-top: @fluidGridColumnWidth*2;
    text-align: center;
  }
}
