@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700);
a.self {
  color: #7dcbcb;
}
a.sounds {
  color: #fa7a7a;
}
a.words {
  color: #fa7a7a;
}
a.projects {
  color: #fa7a7a;
}
a:hover,
a:focus {
  opacity: 0.8;
  text-decoration: none;
}
.navigation {
  margin-bottom: 90px;
  padding: 0;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
}
.navigation li {
  display: inline-block;
}
.navigation li:after {
  content: "/";
  display: inline-block;
  margin: 0 15px;
  color: rgba(44, 47, 49, 0.9);
}
.navigation li:last-child:after {
  content: "";
  margin: 0;
}
.section-navigation {
  text-align: center;
  margin-bottom: 180px;
}
.section-navigation li > a {
  color: #555555;
}
.section-navigation li > a:hover,
.section-navigation li > a:focus {
  color: #999999;
}
.section-title {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 180px;
}
.section-title .title {
  font-size: 72px;
}
#home {
  background-color: #f1f1ed;
}
.presentation {
  margin-top: 120px;
}
.presentation .lead-copy {
  margin-bottom: 60px;
  font-size: 49px;
  font-weight: bold;
  line-height: 1.1428571432;
  letter-spacing: -1px;
}
.presentation .links {
  padding: 0;
  font-size: 28px;
  font-weight: bold;
}
.presentation .links li {
  display: inline-block;
}
#words {
  background-color: #f1f1ed;
}
.article-list {
  margin-bottom: 90px;
}
.article-list .article .year {
  margin-top: 25px;
}
.article-page .article {
  margin-top: 150px;
  margin-bottom: 90px;
}
.article-page .article .year {
  display: block;
  text-align: center;
}
.article-page .article .title {
  margin-bottom: 90px;
  text-align: center;
  font-weight: bold;
}
.article-page .article .body {
  font-family: 'Gentium Book Basic', "Times New Roman", Times, serif;
  font-size: 21px;
  line-height: 40px;
}
.article-page .article .body p {
  margin-bottom: 36px;
}
.article-page .article .body img {
  width: 100%;
  margin-bottom: 40px;
}
.article-page .article .body ul {
  margin-bottom: 40px;
}
.article-page .article .body hr {
  margin-top: 60px;
  margin-bottom: 60px;
  border-color: #b9b9a5;
}
#projects {
  background-color: #f1f1ed;
}
.project-list {
  margin-bottom: 60px;
}
.project-list .project {
  margin-bottom: 20px;
}
.project-list .project .title {
  font-size: 24px;
  margin-bottom: 10px;
}
.project-list .project .description {
  font-size: 16.8px;
}
#sounds {
  background-color: #111111;
}
.mix-list a:hover,
.mix-list a:focus {
  text-decoration: none;
}
.mix-list .mix {
  color: #444444;
  padding-bottom: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.mix-list .mix:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
  background-color: #999999;
  border-radius: 4px;
}
.mix-list .mix .media {
  text-align: center;
}
.mix-list .mix .media img {
  max-width: 100%;
}
.mix-list .mix .media img:hover,
.mix-list .mix .media img:focus {
  opacity: 0.5;
}
.mix-list .mix .title {
  font-size: 36px;
  padding-left: 1em;
  margin-bottom: 40px;
  margin-top: 0;
}
.mix-list .mix .track-list {
  font-family: 'Gentium Book Basic', "Times New Roman", Times, serif;
  margin-bottom: 0;
}
.mix-list .mix .track-list li {
  font-size: 18px;
  line-height: 28.57142858px;
}
.year-spacer {
  font-size: 36px;
  text-align: center;
  margin-bottom: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #333;
}
#work {
  background-color: #f1f1ed;
}
#work-content {
  padding-bottom: 100px;
}
#work-content ul {
  font-size: 18px;
}
#work-content ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}
#spices .section-title {
  margin-bottom: 40px;
}
.spice-mix .title {
  margin-top: 40px;
  font-size: 18px;
  text-align: center;
}
.spice-mix .description {
  font-family: 'Gentium Book Basic', "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: italic;
  color: #555555;
  text-align: center;
  margin-bottom: 40px;
}
.spice-mix .table {
  color: #999999;
  transition: color 0.1s;
}
.spice-mix .table:hover {
  color: #555555;
}
.spice-mix:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 180px;
  background-color: #999999;
  border-radius: 4px;
}
