@import "bootstrap/variables.less";

// Scaffolding
// -------------------------
@body-bg:               #f1f1ed;
@text-color:            #2c2f31;


// Links
// -------------------------
@link-color:            #fa7a7a;
@link-hover-color:      spin(@link-color, 15%);

// @altLinkColor:          #7dcbcb;
// @altLinkColorHover:     spin(@altLinkColor, 15%);


// Typography
// -------------------------
@font-family-serif:       'Gentium Book Basic', "Times New Roman", Times, serif;
