/*!
 * phildionne.com
 *
 * Copyright 2013 Philippe Dionne
 * Designed and built in Quebec City, Canada.
 *
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
}
a.self {
  color: #7dcbcb;
}
a.self:hover {
  color: #7db7cb;
}
.centered {
  text-align: center;
}
hr {
  border-top: 1px solid rgba(153, 153, 153, 0.5);
  border-bottom: 0;
}
hr.middot {
  width: 10px;
  height: 10px;
  margin: 6.382978723404255% auto;
  background-color: #999999;
  border-top: 0;
  border-bottom: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}
@media (max-width: 767px) {
  hr.middot {
    margin: 12.76595744680851% auto;
  }
}
hr.light {
  width: 6.382978723404255%;
  height: 1px;
  margin: 6.382978723404255% auto;
  background-color: rgba(153, 153, 153, 0.5);
  border-top: 0;
  border-bottom: 0;
}
#sounds {
  background-color: #111111;
  padding-bottom: 6.382978723404255%;
}
#words {
  background-color: ;
  padding-bottom: 6.382978723404255%;
}
#two-thousand-twelve,
#two-thousand-thirteen {
  padding-top: 3.1914893617021276%;
}
.footer-navigation {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.115;
  margin: 0;
  letter-spacing: -1px;
  -webkit-transition: font-size 0.2s;
  -moz-transition: font-size 0.2s;
  -o-transition: font-size 0.2s;
  transition: font-size 0.2s;
}
@media (max-width: 480px) {
  .footer-navigation {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.115;
    margin: 0;
    letter-spacing: -1px;
  }
}
.footer-navigation .navigation-element {
  display: inline-block;
  margin-left: 10px;
}
.footer-navigation .navigation-element:after {
  content: "/";
  display: inline-block;
  margin-left: 20px;
}
.footer-navigation .navigation-element:last-child:after {
  content: "";
}
.sounds-navigation {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.115;
  margin: 0;
  letter-spacing: -1px;
  -webkit-transition: font-size 0.2s;
  -moz-transition: font-size 0.2s;
  -o-transition: font-size 0.2s;
  transition: font-size 0.2s;
  padding-bottom: 19.148936170212764%;
}
@media (max-width: 480px) {
  .sounds-navigation {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.115;
    margin: 0;
    letter-spacing: -1px;
  }
}
.sounds-navigation .navigation-element {
  display: inline-block;
  margin-left: 10px;
}
.sounds-navigation .navigation-element:after {
  content: "/";
  display: inline-block;
  margin-left: 20px;
}
.sounds-navigation .navigation-element:last-child:after {
  content: "";
}
.sounds-navigation a {
  font-family: 'Gentium Book Basic', "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.115;
  font-style: italic;
}
#frontpage #presentation {
  padding-top: 12.76595744680851%;
  padding-bottom: 6.382978723404255%;
}
#frontpage #presentation .lead-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 56px;
  font-weight: bold;
  line-height: 1.115;
  margin: 0;
  letter-spacing: -1px;
}
@media (min-width: 768px) and (max-width: 979px) {
  #frontpage #presentation .lead-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.115;
    margin: 0;
    letter-spacing: -1px;
  }
}
@media (max-width: 767px) {
  #frontpage #presentation .lead-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.115;
    margin: 0;
    letter-spacing: -1px;
  }
}
#frontpage #presentation .links {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.115;
  margin: 0;
  letter-spacing: -1px;
}
@media (min-width: 768px) and (max-width: 979px) {
  #frontpage #presentation .links {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.115;
    margin: 0;
    letter-spacing: -1px;
  }
}
@media (max-width: 767px) {
  #frontpage #presentation .links {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.115;
    margin: 0;
    letter-spacing: -1px;
  }
}
.masthead {
  padding-top: 6.382978723404255%;
  padding-bottom: 12.76595744680851%;
}
@media (max-width: 767px) {
  .masthead {
    padding-top: 12.76595744680851%;
    padding-bottom: 25.53191489361702%;
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    -o-transition: padding 0.2s;
    transition: padding 0.2s;
  }
}
.masthead .masthead-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 84px;
  font-weight: bold;
  line-height: 1.115;
  margin: 0;
  letter-spacing: -1px;
}
@media (max-width: 767px) {
  .masthead .masthead-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 1.115;
    margin: 0;
    letter-spacing: -1px;
  }
}
.masthead .masthead-title .masthead-icon {
  margin-left: 20px;
  font-size: 56px;
}
@media (max-width: 767px) {
  .masthead .masthead-title .masthead-icon {
    margin-left: 10px;
    font-size: 42px;
    -webkit-transition: font-size 0.2s;
    -moz-transition: font-size 0.2s;
    -o-transition: font-size 0.2s;
    transition: font-size 0.2s;
  }
}
.mix {
  color: #555555;
}
@media (max-width: 767px) {
  .mix {
    text-align: center;
  }
}
.mix .mix-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.115;
  margin: 0;
  letter-spacing: -1px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .mix .mix-title {
    margin-top: 20px;
  }
}
.mix .mix-media a:hover img {
  opacity: 0.4;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.mix .mix-element-list {
  font-family: 'Gentium Book Basic', "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
}
.mix .mix-element-list .mix-element {
  margin: 10px 0;
}
@media (max-width: 767px) {
  .mix .mix-element-list .mix-element {
    list-style-type: none;
  }
}
.post .post-title {
  padding-top: 25.53191489361702%;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 56px;
  font-weight: bold;
  line-height: 1.115;
  margin: 0;
  letter-spacing: -1px;
}
@media (max-width: 767px) {
  .post .post-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.115;
    margin: 0;
    letter-spacing: -1px;
  }
}
.post .post-body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 8.51063829787234%;
  font-family: 'Gentium Book Basic', "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  color: #222222;
}
@media (min-width: 1600px) {
  .post .post-body {
    padding-left: 12.76595744680851%;
    padding-right: 12.76595744680851%;
  }
}
@media (min-width: 1200px) {
  .post .post-body {
    padding-left: 4.25531914893617%;
    padding-right: 4.25531914893617%;
  }
}
@media (max-width: 767px) {
  .post .post-body {
    padding-left: 8.51063829787234%;
    padding-right: 8.51063829787234%;
    font-family: 'Gentium Book Basic', "Times New Roman", Times, serif;
    font-size: 19px;
    font-weight: normal;
    line-height: 1.7;
  }
}
.post .post-body img {
  min-width: 100%;
  margin: 20px auto;
}
.post .post-body p {
  margin: 20px 0;
}
.post .post-body p:first-child {
  font-family: 'Gentium Book Basic', "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}
.post .post-body li {
  line-height: 1.4;
}
.post .post-footer {
  padding-top: 2.127659574468085%;
  border-top: 1px solid rgba(153, 153, 153, 0.5);
  color: #999999;
}
.post-list .post {
  border-top: 1px solid rgba(153, 153, 153, 0.5);
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}
.post-list .post .post-title {
  margin-left: 20px !important;
  padding-top: 2.127659574468085%;
  padding-bottom: 2.127659574468085%;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.115;
  margin: 0;
  letter-spacing: -1px;
}
.post-list .category-morocco .post .post-title a {
  color: #08c;
}
.project-list .project {
  border-top: 1px solid rgba(153, 153, 153, 0.5);
  text-align: center;
  padding-bottom: 1.0638297872340425%;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}
.project-list .project .project-title {
  margin-left: 20px !important;
  padding-top: 2.127659574468085%;
  padding-bottom: 1.0638297872340425%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.115;
  margin: 0;
  letter-spacing: -1px;
}
#error #message {
  padding-top: 12.76595744680851%;
  text-align: center;
}
