---
layout: default.html
body_id: post
---

<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      {% include "navigation.html" %}

      <section>
        <article class="post-content">
          <time class="post-year">{{ date | readable_date }}</time>
          <h1 class="post-title">{{ title }}</h1>

          <div class="post-body">
            {{ content }}
          </div>

          <footer class="post-footer">
            {{ footer }}
          </footer>
        </article>
      </section>
    </div>
  </div>
</div>
